.required:after {
	content: " *";
	color: red;
}

/* dropzone */
.dz {
  border: 2px dashed #dee2e6;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  min-height: 100px;
  padding: 20px; 
}
.dz .dz-message {
    text-align: center;
    /* margin: 2rem 0; */
}
.dz .dz-started .dz-message {
    display: none;
}

.sortable-highlight {
    display:block;
    border: 1px solid #dad55e;
    min-height: 1px;
    line-height: 1.2em;
    background: #fffa90;
    width:10px;
}

/* dynatree icon */
span.root span.dynatree-icon
{
	background-position: 0 0;
	background-image: url("../../images/dynatree/root.gif");
}

span.folder span.dynatree-icon
{
	background-position: 0 0;
	background-image: url("../../images/dynatree/folder.png");
}

ul.dynatree-container {
	border: 1px solid #eef2f7;
}

/* validation */
.error {
	color: red;
	font-size: 9pt;
}

/* datepicker */
.datepicker {
	padding: .45rem!important;
}

/* div 하단에 점으로 된 줄 긋기 */
.hr-b {
	border-bottom: 1px dashed var(--ct-table-group-separator-color);
}

#qLbar {
	visibility: visible;
	width: 80px;
	height: 80px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -80px;
    margin-left: -40px;
    background:url(/theme/vendor/plugins/mapplic/mapplic/images/loader2.gif) no-repeat;
    z-index: 667999;
}